<template>
  <div class="home">
    Welcome {{ user.firstname }} {{ user.lastname }}<br /><br />
    Address: {{ user.address1 }} {{ user.address2 }}, {{ user.state }},
    {{ user.city }}, {{ user.zip }}<br /><br />

    <b-card header="Edit User">
      <b-form>
        <b-form-group>
          <table class="table table-bordered">
            <tr>
              <td>
                <label for="" style="margin-right: 10px">Firstname:</label>
              </td>
              <td style="margin-right: 100px">
                <b-form-input
                  v-model="firstname"
                  placeholder="First name"
                  size="sm"
                ></b-form-input>
              </td>
              <td>
                <label for="" style="margin-right: 10px">Lastname:</label>
              </td>
              <td>
                <b-form-input
                  v-model="lastname"
                  placeholder="Last name"
                  size="sm"
                ></b-form-input>
              </td>
            </tr>
            <tr>
              <td>
                <label for="" style="margin-right: 10px">Address 1: </label>
              </td>
              <td>
                <b-form-input
                  v-model="address1"
                  placeholder="Address Line 1"
                  size="sm"
                ></b-form-input>
              </td>
              <td>
                <label for="" style="margin-right: 10px">Address 2: </label>
              </td>
              <td>
                <b-form-input
                  v-model="address2"
                  placeholder="Address Line 2"
                  size="sm"
                ></b-form-input>
              </td>
            </tr>
            <tr>
              <td>
                <label for="">State:</label>
              </td>
              <td>
                <b-form-select
                  v-model="selectedstate"
                  :options="state"
                  placeholder="City"
                  size="sm"
                ></b-form-select>
                {{ selectedstate }}
              </td>
              <td>
                <label for="">City:</label>
              </td>
              <td>
                <b-form-select
                  v-model="selectedcity"
                  :options="city"
                  placeholder="City"
                  size="sm"
                ></b-form-select>
              </td>
              <td>
                <label for="">ZIP:</label>
              </td>
              <td>
                <b-form-input
                  v-model="zip"
                  placeholder="Zip Code"
                  size="sm"
                ></b-form-input>
              </td>
            </tr>
          </table>

          <b-button type="button" variant="primary" @click="editUser"
            >Save</b-button
          >
        </b-form-group>
      </b-form>
    </b-card>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
  data() {
    return {
      firstname: "",
      lastname: "",
      address1: "",
      address2: "",
      state: [
        { value: "Bilzen", text: "Bilzen" },
        { value: "Michigan", text: "Michigan" },
      ],
      city: [
        { value: "Goldastad City", text: "Goldastad City" },
        { value: "East Vergie City", text: "East Vergie City" },
      ],
      selectedcity: "",
      selectedstate: "",
      zip: "",

      user: {
        firstname: "",
        lastname: "",
        address1: "",
        address2: "",
        state: "",
        city: "",
        zip: "",
      },
    };
  },

  computed: {},

  created() {
    (this.user.firstname = "John"),
      (this.user.lastname = "Doe"),
      (this.user.address1 = "44985 Shields Glens");
    (this.user.address2 = null), (this.user.state = "Bilzen");
    (this.user.city = "Goldastad City"), (this.user.zip = "15687-846");
  },

  methods: {
    editUser() {
      this.user.firstname = this.firstname;
      this.user.lastname = this.lastname;
      this.user.address1 = this.address1;
      this.user.state = this.selectedstate;
      this.user.city = this.selectedcity;
      this.user.zip = this.zip;
    },
  },
};
</script>
